<!-- estudo-02-lista-telefonica.html -->
<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<style type="text/css">
		.jumbotron {
			width: 400px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		.table {
			text-align: left;
			margin-top: 20px;
		}
		.selecionado {
			background-color: yellow;
		}

		.negrito {
			font-weight: bold;
		}
	</style>
		
	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>

	<script type="text/javascript">
		angular.module('listaTelefonica', []);
		angular.module('listaTelefonica').controller('listaTelefonicaCtrl',  function ($scope) {
				$scope.app = "Lista Telefonica";
				$scope.contatos = [
					{nome: "João", telefone: "3333-4500", cor: "blue"},
					{nome: "Maria", telefone: "99999-1111", cor: "yellow"},
					{nome: "Carlos", telefone: "6798444-4444", cor: "red"},

				];
				$scope.operadoras = [
					{nome: "Oi", codigo: 14, categoria: "Celular"},
					{nome: "Vivo", codigo: 15, categoria: "Celular"},
					{nome: "Tim", codigo: 41, categoria: "Celular"},
					{nome: "GVT", codigo: 25, categoria: "Fixo"},
					{nome: "Embratel", codigo: 21, categoria: "Fixo"},
				];
				$scope.addContato = function (contato) {
					$scope.contatos.push(angular.copy(contato));
					delete $scope.contato;
				};
				$scope.delContato = function(contato) {
					contato.selecionado=true;
					this.delContatos($scope.contatos);
				};
				$scope.delContatos = function(contatos) {
					$scope.contatos = contatos.filter(function (contato) {
						if (!contato.selecionado) return contato;
					});
				};

				$scope.isContatoSelecionado = function(contatos) {
					return contatos.some(function (contato) {
						return contato.selecionado;
					});
				}
			
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		<table ng-show="contatos.length > 0" class="table">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
				<th>Ação</th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
				<td><input type="checkbox" ng-model="contato.selecionado" /></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td><span class="glyphicon glyphicon-trash" ng-click="delContato(contato)"></span></td>
				<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
		</table>
		<hr />
		<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
		<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" /><br />
		<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
			<option value="">Selecione uma operadora</option>			
		</select>
		<button class="btn btn-primary btn-block" ng-click="addContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="delContatos(contatos)" ng-show="isContatoSelecionado(contatos)">Apagar Contatos</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>


